In [1]:
import pandas as pd
import numpy as np
from combiner import Combiner

In [2]:
X_test = pd.read_csv('X.csv',encoding='cp1251',index_col=0)
Y  = X_test['Decision']
del X_test['Decision']
X_test.head()

,lifestyle_learning,Channel,Appeal_Topic,Appeal_Input_Channel,Earliar_Topic_nflag,Reg_Dt
0,0.0,УС,Неуспешный взнос наличных,Входящий звонок,0,19NOV2017:07:38:32
1,0.0,УС,Неуспешный взнос наличных,Визит,0,18MAY2017:07:54:07
2,0.0,УС,Неуспешное снятие наличных,Визит,0,14JUL2017:03:29:30
3,NaN,УС,Неуспешный взнос наличных,Входящий звонок,0,31MAR2017:04:23:02
4,0.0,Не определено,Комиссии,Визит,0,06NOV2017:02:59:13

In [3]:
combiner = Combiner()
combiner.fit(X_test, Y) # Выполняет типизацию переменных и их группировку

Представленный ниже метод <code>combiner.vfit() </code> реализует виджет позволяющий просмотреть автоматическую группировку и изменить её при необходимости. Окно виджета разбито на две части: 
 *  левая, список переменных с их типами и information value, допускаяющий сортировку по нажатию на заголовок списка.
 *  правая, окно редактирования группировки, с интуитивным интерфейсом(выделяем группы через CTRL, определяем новую группу используя правую кнопку мыши.

In [4]:
combiner.vfit()

"RARE" - категория в которую объединяются редкие (менее 0.5% по частоте) значения категориальных переменных.

"UNKNOWN" - категория содержащия новые значения, которые не присутсвовали в наборе данных поступившем на вход в метод fit, но появившиеся в наборке данных поданном на вход в метод transform.

"MISSING" - категория содержащия значения np.nan. Создается для каждой категориальной переменной, даже если она не содержит пропуски. Если в новом наборе данных трансформируемых с помощью данной группировки появятся значения np.nan они будут отнесены к данной категории.

In [5]:
X_transform = combiner.transform(X_test, hand = True)

Параметр hand по умолчанию True. Изменение занчения на False позволит использвоать для трансформации набора данных автоматическую группировку.

In [6]:
X_transform.head()

,lifestyle_learning,Channel,Appeal_Topic,Appeal_Input_Channel,Earliar_Topic_nflag,Reg_Dt
0,2.0,1,1,1,1,19NOV2017:07:38:32
1,2.0,1,1,2,1,18MAY2017:07:54:07
2,2.0,1,3,2,1,14JUL2017:03:29:30
3,3.0,1,1,1,1,31MAR2017:04:23:02
4,2.0,2,2,2,1,06NOV2017:02:59:13